@using StoackApp.Core.Application.ViewModels.Categories
@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3 offset-9">
                            <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Create">Crear nueva categoria</a>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-4 mb-3">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h3>@item.Name</h3>
                                        <p class="card-text">@item.Description</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                                <a asp-controller="Category" asp-action="Delete"  asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                            </div>
                                            <small class="fw-bold">La cantidad de productos: @item.ProductQuantity</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
